@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
}

canvas {
  display: block;
}

#container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
}

#instructions {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
}

#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  display: none;
}

#startDiv {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  text-align: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#sensitivitySlider {
  z-index: 69324525325324534534534534;
}

p {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
}

#score {
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  left: 50%;
  color: rgb(255, 255, 255);
}
